APP_PORT = 8888
APP_RELOAD = True
APP_OPENAPI_URL = /openapi
APP_DB_URL = sqlite+aiosqlite:///./sqlite.db

OAUTH_GOOGLE_CLIENT_ID = 
OAUTH_GOOGLE_CLIENT_SECRET = 
OAUTH_GOOGLE_REDIRECT_URI = http://localhost:8888/api/v1/users/auth/google/callback

MAIL_USERNAME = user@example.com
MAIL_PASSWORD = 
MAIL_FROM = no-reply@chatsource.com
MAIL_PORT = 587
MAIL_SERVER = smtp.gmail.com
MAIL_FROM_NAME = Chatsource
MAIL_STARTTLS = True
MAIL_SSL_TLS = False
USE_CREDENTIALS = True
VALIDATE_CERTSS = True